#hero-image {
  background-image: url("../images/apple-pie.jpg");
  background-size: cover;
  height: 100vh; /* vw pega 100% da altura da tela*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 64px;
}

.content {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-1 {
  margin-top: 54px;
  width: 700px;
  font-size: 20px;
}

.img-1 {
  width: 350px;
}

.image-2 {
  width: 350px;
}

hr {
  width: 750px;
}

h2 {
  width: 700px;
}

ul {
  width: 700px;
  list-style-type: "-";
}

ol {
  width: 700px;
  margin-bottom: 64px;
}

.num1 {
  list-style-type: "1) ";
}

.num2 {
  list-style-type: "2) ";
}

.num3 {
  list-style-type: "3) ";
}
